svg {
 
    background-color: antiquewhite;
    border: 2px;
}
#canvas {
    text-align: center;
}

.x-axis {
    font-weight: bold;
}

.ray {
    stroke: green;
}
.sine {
    stroke: red;
}
.cosine {
    stroke: red;
}
.ray-point {
    cursor: pointer;
    stroke: green;
    fill: green;
}